@import '../../../src/scss/variables/variables';

.a-list {

	list-style-type: none;
	padding-left: $global-space;

	li {
		margin-bottom: $global-space-small;
	}

	&--no-margin-bottom {
		li {
			margin-bottom: 0;
		}
	}

	// Unordered list with blue bullets
	&--primary > li::before {
		@extend %bullet-style;
		color: $color-brand-primary;
	}

	// Unordered list with red bullets
	&--secondary > li::before {
		@extend %bullet-style;
		color: $color-brand-secondary;
	}

	// Unordered list with arrow bullets
	&--arrow > li::before {
		color: $color-dark;
		content: '›';
		display: block;
		font-size: 1.4rem;
		left: -10px;
		max-height: 0;
		max-width: 0;
		position: relative;
		top: 0;
	}

	&--arrow {
		a {
			text-decoration: none;
		}
	}

	&--numbered {
		counter-reset: item;
		padding-left: 0;

		ol,
		ul {
			padding-top: $global-space-small;
			padding-left: $global-space;
		}

		> li {
			padding: $global-space-small 0;

			&::before {
				content: counters(item, ".") ".";
				counter-increment: item;
				display: inline-block;
				padding-right: $global-space-small;
			}
		}

		&-small {
			> li {
				padding: 0;
			}
		}

		&-bold {
			> li {
				&::before {
					font-weight: bold;
				}
			}
		}
	}

	// Create a horizontal list
	&--horizontal {
		padding-left: 0;

		li {
			display: inline-block;
			margin-right: $global-space-small;

			// Remove the margin from the last list item
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&--ticks {
		@extend %ticks-style;

		&-primary {
			@extend %ticks-style;

			li {
				&::before {
					color: $color-brand-primary;
				}
			}
		}

		&-secondary {
			@extend %ticks-style;

			li {
				&::before {
					color: $color-brand-secondary;
				}
			}
		}

		&-success {
			@extend %ticks-style;

			li {
				&::before {
					color: $color-brand-green;
				}
			}
		}
	}

	&--horizontal {
		text-align: center;
		padding: 0;

		li {
			display: inline-block;
			margin: $global-space;
		}
	}
}
