@import '../../../src/scss/variables/variables';
@import '../../../src/scss/global/type';

.a-header {

	&--primary {
		color: $color-brand-blue-dark;

		&-xl {
			@include type(1.165, 3.375rem, 3rem, 480px, $color-brand-blue-dark);
		}

		&-on-dark {
			color: $color-white;

			&-xl {
				@include type(1.165, 3.375rem, 3rem, 480px, $color-white);
			}
		}
	}

	&--secondary {
		color: $color-brand-blue-grey-light;

		&-xl {
			@include type(1.165, 3.375rem, 3rem, 480px, $color-brand-blue-grey-light);
		}

		&-on-dark {
			color: $color-brand-blue-grey-mid;

			&-xl {
				@include type(1.165, 3.375rem, 3rem, 480px, $color-brand-blue-grey-mid);
			}
		}
	}
}