@import '../../../src/scss/variables/variables';
@import '../../../src/scss/global/type';

.a-header {

	&--primary {
		color: $color-brand-blue-dark;

		&-xl {
			@include type(1.165, 3.375rem, 3rem, 480px, $color-brand-blue-dark);
		}

		&-on-dark {
			color: $color-white;

			&-xl {
				@include type(1.165, 3.375rem, 3rem, 480px, $color-white);
			}
		}
	}

	&--secondary {
		color: $color-brand-blue-grey-light;

		&-xl {
			@include type(1.165, 3.375rem, 3rem, 480px, $color-brand-blue-grey-light);
		}

		&-on-dark {
			color: $color-brand-blue-grey-mid;

			&-xl {
				@include type(1.165, 3.375rem, 3rem, 480px, $color-brand-blue-grey-mid);
			}
		}
	}

	&--reg,
	&--postcode {
		display: inline-block;
		padding: 0.2em;
		text-transform: uppercase;
		border-radius: 2px;
	}

	&--reg {
		font-family: "Charles Wright", "Helvetica Neue", BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		background-color: $color-brand-reg;
	}

	&--postcode {
		background-color: $color-white;
	}

	&--special {
		display: inline-block;
		color: $color-white;
		margin: 0;
		padding: 0.2em 0.4em;

		&.a-header--primary {
			background-color: $color-brand-blue-mid-light;
		}

		&.a-header--secondary {
			background-color: $color-brand-purple;
		}
	}
}