@import '../../../src/scss/variables/variables';
@import '../../../src/scss/global/type';

.a-link {
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-shadow: none;

	&:hover {
		text-decoration: none;
	}

	&:before {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $color-brand-blue-mid-light;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		transition: width 0.5s cubic-bezier(1, 0, 0, 1);
	}

	&--primary {
		color: $color-brand-blue-dark;

		&:hover {
			color: $color-brand-blue-dark;

			&:after {
				width: 100%;
				background-color: $color-brand-blue-mid-light;
			}
		}

		&:active,
		&:focus {
			color: $color-brand-blue-dark;

			&:before, &:after {
				width: 100%;
				background-color: $color-brand-blue-grey-lighter;
			}
		}

		&-on-dark {
			color: $color-white;

			&:hover {
				&:after {
					width: 100%;
					background-color: $color-brand-blue-mid-light;
				}
			}

			&:active,
			&:focus {

				&:before, &:after {
					width: 100%;
					background-color: $color-brand-blue-grey-dark;
				}
			}
		}
	}
}