@import '../../../src/scss/variables/variables';
@import '../../../src/scss/variables/space-variables';

a {
	color: color(blue);
	text-decoration: underline;
	text-shadow: none;
	transition: color 0.2s, text-decoration 0.2s;

	&:hover {
		color: color(blue, light);
		text-decoration: none;
	}

	&:active,
	&:focus {
		color: color(blue, light);
	}
}

.a-link-image {
	display: block;
	text-decoration: none;

	&__image {
		margin-right: $global-space-small-x;
	}

	&__title {
		font-weight: bold;
	}
}