@import './fonts';
@import '../mixins/type-mixin';

h1 {
	@include type(1.2, 2.625rem, 2rem, 480px);
}

h2 {
	@include type(1.2, 2.125rem, 1.625rem, 480px);
}

h3 {
	@include type(1.2, 1.25rem, 1.125rem, 480px);
}

h4 {
	@include type(1.2, 1rem, 0.875rem, 480px);
}

p {
	line-height: 1.5;
}

hr {
	border-color: #e1e1e1;
	border-top: none;
	border-left: none;
	border-right: none;
	margin: 2em 0;
}