/// Global space size
$global-space: 1em;
$global-space-small-x: $global-space/4;
$global-space-small: $global-space/2;
$global-space-large: $global-space*2;
$global-space-large-x: $global-space*2.5;
