$color-brand-primary: #0066a1;
$color-brand-secondary: #ef4641;
$color-light: #e1e1e1;
$color-dark: #333;

$color-brand-blue-dark: #011831;
$color-brand-blue-oxford: #011e3f;
$color-brand-blue-prussian: #01355a;
$color-brand-blue-light: #0085ff;
$color-brand-blue-mid-light: #0069cc;
$color-brand-blue-mid-dark: #00448c;
$color-brand-blue-grey-dark: #012245;
$color-brand-blue-grey-mid: #60759e;
$color-brand-blue-grey-light: #afbdd1;
$color-brand-blue-pale-azure: #dbe7f8;
$color-brand-blue-grey-lighter: #e6eef8;
$color-brand-pale-grey: #f7f7f9;
$color-brand-cotton-ball: #f3f8ff;
$color-brand-red: #e40034;
$color-brand-green: #0e838a;
$color-brand-purple: #a24593;
$color-brand-error-red: #e10930;
$color-brand-seaweed: #3ea926;
$color-brand-crab: #f86738;

$color-success: #01b101;
$color-error: $color-brand-secondary;
$color-warning: #e09001;
$color-info: $color-brand-primary;
$color-black: #000;
$color-white: #fff;