$color-brand-primary: #0066a1;
$color-brand-secondary: #ef4641;
$color-light: #e1e1e1;
$color-dark: #333333;

$color-success: #01b101;
$color-error: $color-brand-secondary;
$color-warning: #e09001;
$color-info: $color-brand-primary;
$color-black: #000;
$color-white: #fff;